<!DOCTYPE HTML>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">


<link rel="stylesheet" href="https://s3.amazonaws.com/askcrowd/css/profile.css">


<html>
<head>
    <title>AskCrowd - Account</title>

</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main') }}">AskCrowd</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{{ url_for('main') }}">Home</a></li>
        <li><a href="{{ url_for('ask_form') }}">Ask</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('account') }}">Account</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container" style="
    display: inline-block;
    width: 600px;
    margin-left: 200px;
">

    <div style="visibility: {{ hidden }}" class="alert alert-success"
         role="alert">{{ ret_msg if ret_msg != None }}</div>

        <h1 class="h3 mb-3 font-weight-normal" >Account Information</h1>
        <hr>


    <div style=" margin-top: 20px;">


        <table class="table">
        <thead>
                <th>Info</th>
                <th>Content</th>
            </thead>
            <tr>
                <td>Username</td>
                <td>{{ item['username'] }}</td>
            </tr>
            <tr>
                <td>Sex</td>
                <td>{{ item['sex'] }}</td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>{{ item['dob'] }}</td>
            </tr>
            <tr>
                <td>Occupation</td>
                <td>{{ item['occupation'] }}</td>
            </tr>
        </table>



        <form action="{{ url_for('change_password') }}" method="post" class="form-signin" style="width: 50%;">
            <input type="password" placeholder="Password" name="password"
                   value="{{ password if password  != None }}" class="form-control"><br>
            <input type="password" placeholder="Confirm Password" name="confirm_password"
                   value="{{ password if password  != None }}" class="form-control"><br>
            <input type="submit" value="Change Password" class="btn btn-md btn-primary btn-block" style="
                 display: inline-block;
                 margin-right: 10px;
                 margin-bottom: 20px;
                 ">
        </form><br>



        <br>

    </div>





</div>

<div class="container" style="
    display: inline-block;
    width: 600px;
    margin-right: 200px;
    position: absolute;
    margin-left: 100px;
">
   <h1 class="h3 mb-3 font-weight-normal" style="
    padding-top: 25px;
">Polls</h1>
        <hr>

        <table class="table">
            <thead>
                <th>Your Polls</th>
                <th>Delete</th>
            </thead>
            {% for poll in item['polls']%}
            <tr>
                <td><a href="{{url_for('poll_detail',post=poll[0])}}">{{ poll[1] }}</a></td>
                <td>
                    <form action="{{url_for('delete_poll',post=poll[0])}}" method='post'
                          onsubmit='return confirm("Are you sure?")'>
                        <input type='submit' value='Delete' class="btn btn-sm btn-primary btn-block"/>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>


        <table class="table">
            <thead>
                <th>Your Votes</th>
            </thead>
            {% for vote in item['votes']%}
            <tr>
                <td><a href="{{url_for('poll_detail',post=vote[0])}}">{{ vote[2] }}</a></td>
            </tr>
            {% endfor %}
        </table>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</body>
</html>
