<!DOCTYPE HTML>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">


<link rel="stylesheet" href="https://s3.amazonaws.com/askcrowd/css/profile.css">


<html>
<head>
    <title>AskCrowd - Ask</title>

</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main') }}">AskCrowd</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{{ url_for('main') }}">Home</a></li>
        <li><a href="{{ url_for('ask_form') }}">Ask</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('account') }}">Account</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <form action="{{ url_for('ask') }}" method="post" class="form-signin">
        <div class="alert alert-danger" role="alert"
             style="visibility: hidden" id="error-message"> </div>

        <h1 class="h3 mb-3 font-weight-normal" >Create a new poll</h1>
        <br>
         <h3 class="h4 mb-4 font-weight-normal" >Question</h3>
        <br>

        <input type="text" placeholder="Question" name="question"
               class="form-control"><br>
         <h3 class="h4 mb-4 font-weight-normal" style="display: inline-block" >Options</h3>

<button onclick="remove_options()" class="  btn-primary" type="button" style="
    float: right;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
">-</button>

        <button onclick="add_options()" class=" btn-primary" type="button" style="
    float: right;
    border-radius: 50%;
    width: 30px;
    height: 30px;
        display: inline-block;

">+</button>
                 <br>
                 <br>

        <input type="text" placeholder="Answer 1" name="answer1"
               class="form-control"><br>
        <input type="text" placeholder="Answer 2" name="answer2"
               class="form-control"><br>

        <div id="more-options"></div>



        <br>
        <input type="button" value="Ask" class="btn btn-lg btn-primary btn-block" style="
             display: inline-block;
             margin-right: 10px;
             margin-bottom: 20px;
             " onclick="check_values()">

    </form>

</div>
    <script>
        var num = 3
        function add_options() {
            if (num == 7){
                document.getElementById("error-message").innerHTML ="Error: You cannot have more than six options"
                document.getElementById("error-message").style.visibility="visible"
                return
            }
            var e = document.createElement('div');
            e.innerHTML = "<input type='text' placeholder='Answer "+num+"' name='answer"+num+"' value='' class='form-control'><br>";
            document.getElementById("more-options").appendChild(e)
            num=num+1;
        }

        function remove_options() {
            if(num == 3){
                document.getElementById("error-message").innerHTML ="Error: You must have at least two options"
                document.getElementById("error-message").style.visibility="visible"
                return
            }

            document.getElementById("more-options")

            var options = document.getElementById("more-options")
            options.removeChild(options.lastChild);
            num=num-1;
        }

        function check_values() {
            for(var i =0; i < document.getElementsByClassName("form-control").length;i++){
                var item = document.getElementsByClassName("form-control")[i];
                if(item.value==""){
                    document.getElementById("error-message").innerHTML ="Error: All fields are required!"
                    document.getElementById("error-message").style.visibility="visible"
                    return
                }
            }
            document.getElementById("error-message").style.visibility="hidden"
            document.getElementsByClassName("form-signin")[0].submit()
        }

    </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</body>
</html>
